{% extends 'base.html' %}

{% block title %}
    <title>Races</title>
{% endblock %}

{% block content %}
    <ul>
        {% for race in races %}
            <li>
                <h2>{{ race.name }}</h2>
                <p>Circuit: {{ race.circuit.name }}</p>
                <p>First Place: {{ race.first_place.first_name }} {{ race.first_place.last_name }}</p>
                <p>Second Place: {{ race.second_place.first_name }} {{ race.second_place.last_name }}</p>
                <p>Third Place: {{ race.third_place.first_name }} {{ race.third_place.last_name }}</p>
                <p>Date: {{ race.date }}</p>
                <p>Sold out: {% if race.sold_out %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
  <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                        </svg>
                    {% endif %}
                </p>
                <p>Weather: {{ race.weather }}</p>
                <br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}