{% extends 'base.html' %}

{% block content %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Position</th>
          <th scope="col">Driver</th>
          <th scope="col">Nationality</th>
          <th scope="col">Team</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
        {% for position, first_name, last_name, nationality, team, points in standings %}
            <tr>
                <th scope="row">{{ position }}</th>
                <td>{{ first_name }} {{ last_name }}</td>
                <td>{{ nationality }}</td>
                <td>{{ team }}</td>
                <td>{{ points }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}