{% extends 'base.html' %}

{% block content %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">GAD Final Project</h1>
            <p class="lead">This is a small web app made with Django about the most popular motorsport competition: F1</p>
            <p class="lead">
                <a href="{% url 'news' %}" class="btn btn-lg btn-secondary">Get started</a>
            </p>
        </main>
    </div>

    <footer class="mastfoot mt-auto text-center">
        <div class="inner">
          <p>F1 Django app by <a href="https://github.com/mihaihe1">Hernest Mihai</a>.</p>
        </div>
    </footer>
{% endblock %}