<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'drivers:view_all' %}">Drivers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teams:view_all' %}">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'circuits:view_all' %}">Circuits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'races:view_all' %}">Races</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'custom_standings' %}">Custom Standings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'real_standings' %}">Real Standings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news' %}">News</a>
      </li>
    </ul>
  </div>
</nav>